/* so this is how I comment */

.music 
    {
        background: rgb(253, 237, 236);
        color: black;
    }

.writings
    {
        background: rgb(214, 234, 248);
        color: black;
    }

/* .writings
    {
        background: thistle;
        color: white;
    } */