---
import BaseLayout from '@src/layouts/BaseLayout.astro';

import Section from '@src/components/Section.astro';
import ExperienceItem from '@src/components/ExperienceItem.astro';
import EducationItem from '@src/components/EducationItem.astro';
import ProjectItem from '@src/components/ProjectItem.astro';

import Prose from '@src/components/Prose.astro';

const skills = [
    "JavaScript",
    "TypeScript",
    "React",
    "Astro",
    "Tailwind CSS",
    "Node.js",
    "SQL",
    "Git",
];

const languages = [
    {lang: "Mandarin Chinese", level: "Native"},
    {lang: "English", level: "Fluent"},
    {lang: "Japanese", level: "Intermediate"},
];
---

<BaseLayout
	title="Helen's Resume!"
	description="trying..."
>

<div class='container grid grid-cols-12 gap-4 w-full'>

<!-- <Layout title="My CV"> -->
    <!-- <div class="text-center mb-8">
        <h1 class="text-4xl font-bold text-gray-900">Your Name</h1>
        <p class="text-xl text-gray-700">Your Role/Title</p>
        <p class="text-gray-600">City, Country</p>
        <p class="text-gray-600">
            <a href="mailto:your.email@example.com" class="hover:text-blue-600 transition duration-300">your.email@example.com</a>
        </p>
        <p class="text-gray-600">
            <a href="https://yourwebsite.com" target="_blank" rel="noopener noreferrer" class="hover:text-blue-600 transition duration-300">yourwebsite.com</a>
        </p>
    </div> -->

    <!-- <Section title="Summary">
        <p class="text-gray-800">
            A brief overview of your skills, experience, and career goals.  Highlight what makes you a great candidate.
        </p>
    </Section> -->

    <div class="md:col-span-3">
        <Section title="About Me">
            <p>
                I love food
            </p>
        </Section>
        <Section title="Skills">
            <div> 
                <ul>
                    {skills.map((skill) => (
                        <li>{skill}</li>
                    ))}
                </ul>
            </div>
        </Section>
        <Section title="Languages">
            <ul>
                {languages.map((language) => (
                    <li>{language.lang} ({language.level})</li>
                ))}
            </ul>
        </Section>
        
        <Section title="Contact">
            <p>
                <a href="mailto:zhuowen_huang@outlook.com" class="hover:text-blue-600"> 
                    zhuowen_huang@outlook.com</a>
            </p>
        </Section>

        
    </div>
    

    <div class="md:col-span-9 justify-end">
        <Section title="Education">
            <EducationItem
                institution="Carnegie Mellon University"
                degree="Bachelor of Science in Information Systems"
                dates="2019 - 2024"
                description="Honors"
            />
            <EducationItem
                institution="Carnegie Mellon University"
                degree="Masters of Information Systems Management"
                dates="2024 - 2025"
            />
        </Section>

        <Section title="Experience">
            <ExperienceItem
                title="Cloud & Digital Strategy Intern"
                location="New York, NY, USA",
                company="PricewaterhouseCoopers (PwC)"
                dates="June 2023 - August 2023"
                description={[
                    "made slides",
                    "competed and won first place lol"
                ]}
            />
            <ExperienceItem
                title="Research Assistant"
                company="Carnegie Mellon University, Heinz College"
                location='Pittsburgh, PA, USA'
                dates="May 2022 - August 2022"
                description={[
                    "Good morning baltimore",
                    "Every day is like an open door",
                ]}
            />
        </Section>

        <Section title="Projects">
            <ProjectItem
                projectName="Cloud & Digital Strategy Intern"
                role="PricewaterhouseCoopers (PwC)"
                dates="June 2023 - August 2023"
                description={[
                    "made slides",
                    "competed and won first place lol"
                ]}
            />
 
        </Section>
    </div>
    


    <!--


    <Section title="Projects">
        <ExperienceItem
            title="Project 1"
            company="Personal Project"
            dates="2023"
            description={[
                "Project description and features.",
                "Key technologies used.",
                "Link to the project (if applicable).",
            ]}
            technologies={["Astro", "Tailwind CSS", "JavaScript"]}
        />
    </Section> -->
<!-- </Layout> -->
</div>
</BaseLayout>