---
import CollapsibleExperience from './CollapsibleExperience.tsx';
import { experiences } from "@src/pages/resume/resume.ts"; // Import your data
import Section from './Section.astro';
---

<Section title="Experience">
  {experiences.map((exp) => (
    <CollapsibleExperience 
      client:load
      {...exp} />
  ))}
</Section>