---
import CollapsibleProj from './CollapsibleProject.tsx';
import { projects } from "@src/pages/resume/resume.ts"; 
import Section from './Section.astro';
---

<Section title="Projects">
  {projects.map((proj) => (
    <CollapsibleProj
      client:load
      {...proj} />
  ))}
</Section>